<style type="text/css">
    .wrap {
        text-align: center;
    }
</style>
{%extends "layout.html"%}

{%block contents%}


<div class="container panel panel-default">
    <div class="panel-body">
        <div class="wrap">
            <b>Which one is more cute?</b>
        </div>
        <div class="wrap">
            <a href="result?win={{img1}}&lose={{img2}}"><img src="/static/img/{{img1}}.png" class="lazyload"></a>
            <a href="result?win={{img2}}&lose={{img1}}"><img src="/static/img/{{img2}}.png" class="lazyload"></a>
        </div>
    </div>
</div>


{%endblock%}