<!DOCTYPE html>
<html>

<head>
    <title>eval cat</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

</head>

<body>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ranking">Ranking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="compare">Compare</a>
            </li>

        </ul>
    </div>
    {%block contents%}
    {%endblock%}
</body>
<script>
    lazyload();
</script>

</html>